# Dependencias del módulo
geoarea
geopandas
geopy
gpxpy
matplotlib
numpy
scipy
sklearn
utm

# Dependencias de desarrollo
autopep8
codecov
mutmut
pylint
pylint-fail-under
pytest-cov
pytest==5.0.1
rope
